nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;

    background: rgba(17, 24, 39, 0.95);

    backdrop-filter: blur(10px);

    z-index: 1000;
}
#inicio{
    padding-top: 100px;
}



nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(207, 200, 200);
}

span {
    background: linear-gradient(
    90deg,
    #2563eb,
    #1d4ed8,
    #06b6d4
);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}