nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(207, 200, 200);
}