#sobre span {
  background: linear-gradient(
    90deg,
    #2563eb,
    #1d4ed8,
    #06b6d4
);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#sobre {
    min-height: 100vh;
    padding-top: 200px;
}

 #sobre h1 {
    font-size: 50px;
 }

.scroll-down img{
    width: 50px;
    height: 50px;
}

.scroll-down img{
    width: 45px;
    animation: scrollHint 2s infinite;
}

@keyframes scrollHint{
    0%, 100%{
        transform: translateY(0);
        opacity: 1;
    }

    50%{
        transform: translateY(12px);
        opacity: .6;
    }
}

#sobre p {

    font-size: 18px;

    text-align: center;

    max-width: 700px;

    margin: 0 auto;
}



.card h3 {
    color: rgba(128, 128, 128, 0.445);
    font-size: 20px;
}

.sobre-cards{
    display: flex;

    justify-content: center;

    gap: 70px;

    margin-top: 60px;

    flex-wrap: wrap;
}

.card{
width: 300px;

padding: 30px;

border-radius: 20px;

text-align: center;

transition: 0.3s;

border: 1px solid transparent;

background:
    linear-gradient(#111827, #111827) padding-box,
    linear-gradient(
        90deg,
        #2563eb,
        #1d4ed8,
        #06b6d4
    ) border-box;
}

.card img{
    width: 45px;

    margin-bottom: 20px;
}